{% extends 'base.html' %}

{% block content %}
  <!-- Page title banner over Image 1 -->
  <div class="page-title-banner">
    <h1 class="display-4"><strong>THE PROBLEM ACAP FACES</strong></h1>
  </div>

  <body style="background-color: rgba(188, 208, 167, 0.609)"> 
  </body>

  <!-- Insert your images here -->
  <div class="text-center">
    <div class="lead-container">
      <p class="lead text-center">ACAP Saint John is a community based monitoring program leading the way in restoring 
        and preserving Saint Johns local aquatic habitats. ACAP was founded in 1991 under Environment Canada in line with 
        goals to preserve the Atlantic Canadian coastal environment.

        ACAP specializes in water quality monitoring, educational programs, habitat preservation and community engagement in 
        environmental issues. 
        </p>

        <h1>GOALS</h1>
        <p class="lead text-center"> 1. To engage multi-sectorial community of Greater Saint John in collaborative management and restoration of our watersheds 
          </p>

          <p1> </p1>

        <p class="lead text-center"> 2. ACAP Saint John envisions a sustainable community that embraces that inter-dependence of the unique social, economic and environmental characteristics of the regions watershed 
          </p>

    </div>
    <div>
    <img src="{{ url_for('static', filename='Photos/frog.jpg') }}" alt="Image 1" class="img-fluid">
    </div>
    <div class="lead-container">
      <p class="lead text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique 
        aspernatur libero voluptate? Consequatur, molestiae quam eveniet cupiditate dicta repudiandae 
        reprehenderit sint dolores veniam praesentium perspiciatis nihil possimus voluptas pariatur 
        ipsam nulla quae sequi aliquid dolor quas distinctio, magnam velit repellat.</p>
    </div>
 
    <div class="lead-container">
      <p class="lead text-center"></p>
    </div>
  </div>
  
  <style>
    .display-4 {
      color: #fff;
      margin: 0;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .page-title-banner {
      background-image: url("{{ url_for('static', filename='Photos/wetland.jpg') }}");
      background-size: cover;
      background-position: center; /* Center horizontally */
      padding: 50px 0; /* Remove horizontal padding, keep only top and bottom padding */
      text-align: center;
      color: #fff;
      width: 100%;
    }

    .lead {
      font-size: 1.25rem;
      color: #333;
      margin: 20px 0;
    }

    .img-fluid {
      max-width: 100%;
      height: auto;
      margin: 20px 0;
    }

    .lead-container {
      max-width: 75%; /* Adjust the maximum width as per your preference */
      margin: 0 auto; /* Center the container horizontally */
    }
  </style>
{% endblock %}