{% extends 'base.html' %}

{% block content %}
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>  <!-- Include D3.js -->
</head>
<body>
    <form method="POST" action="/Data">
        Site 1<input type="checkbox" value="1" name="Site1">
        Site 2<input type="checkbox" value="2" name="Site2">
        <input type="submit">
    <div>
        <ul>
            {% for s in site_list %}
                {% <li>s</li> %}
            {% endfor %}
        </ul>
    </div>
    </form>
    <div id="plotly-plot"></div>
    <script>
        // Load CSV data using D3.js
        d3.csv('/static/FecalColiform.csv').then(function(data) {
            var trace = {
                x: data.map(row => row.ActivityStartDate),
                y: data.map(row => row.ResultValue),
                type: 'scatter',
                mode: 'lines+markers',
                name: 'CSV Data'
            };

            var layout = {
                title: 'CSV Data Plot',
                xaxis: { title: 'ActivityStartDate' },
                yaxis: { title: 'ResultValue' }
            };

            var plotData = [trace];

            Plotly.newPlot('plotly-plot', plotData, layout);
        });
    </script>
</body>
{% endblock %}
