{% extends 'base.html' %}

{% block content %}
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>  <!-- Include D3.js -->
</head>
<body>
    <form method="POST" action="/Data">
        INUP<input type="checkbox" value="INUP" name="Site1">
        INDN 2<input type="checkbox" value="INDN" name="Site2">
        <input type="submit">
    <div>
        <ul>
            {% for s in site_list %}
                <li>{{ s }}</li>
            {% endfor %}
        </ul>
    </div>
    </form>
    <div id="plotly-plot"></div>
    <script>
        // Load CSV data using D3.js
        d3.csv('/static/FecalColiform.csv').then(function(data) {
            var site_list = {{ site_list | tojson | safe }};  // Get the site list from Flask
    
            var plotData = [];
            site_list.forEach(function(site) {
                var filteredData = data.filter(function(row) {
                    return row.MonitoringLocationID === site;
                });
    
                var thresholdValue = 100;  // Set your threshold value here
    
                var trace = {
                    x: filteredData.map(row => row.ActivityStartDate),
                    y: filteredData.map(row => row.ResultValue),
                    type: 'scatter',
                    mode: 'markers',
                    name: site,  // Use the site name as the trace name
                    marker: {
                        symbol: filteredData.map(row => row.ResultValue > thresholdValue ? 'star' : 'circle'),
                        size: filteredData.map(row => row.ResultValue > thresholdValue ? 15 : 9),
                        line: {
                            width: 2
                        }
                    }
                };
    
                plotData.push(trace);
            });
    
            var layout = {
                title: 'CSV Data Plot',
                xaxis: { title: 'ActivityStartDate' },
                yaxis: { title: 'ResultValue' }
            };
    
            Plotly.newPlot('plotly-plot', plotData, layout);
        });
    </script>
    
</body>
{% endblock %}
