{% extends 'base.html' %}

{% block content %}

<body style="background-color: rgba(188, 208, 167, 0.609)"> 
</body>

<p1> This is a prototype for the interactive tool to be created. This shows a small subset of the data: Fecal Coliform monitoring 
    results over 30 years. This tool allows you to interact with the results by changing date ranges and selecting values by site. 
    Values over the Canadian Drinking Water Guideline (0 CFU/100mL) have been identified using a star symbols. </p1>

<p></p>

<p></p>


<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>  <!-- Include D3.js -->
</head>
<body>
    <form method="POST" action="/Data">
        Lorneville Upstream<input type="checkbox" value="LorneUp" name="LorneUp">
        Lorneville Downstrean<input type="checkbox" value="LorneDown" name="LorneDown">
        Saints Rest Upstream<input type="checkbox" value="StRestUp" name="StRestUp">
        Saints Rest Downstream<input type="checkbox" value="StRestDown" name="StRestDown">
        South Bay Upstream<input type="checkbox" value="SouthBayUp" name="SouthBayUp">
        South Bay Downstream<input type="checkbox" value="SouthBayDown" name="SouthBayDown">
        Inner Harbour Upstream<input type="checkbox" value="INUP" name="INUP">
        Inner Harbour Downstream<input type="checkbox" value="INDN" name="INDN">
        Marsh Creek Upstream<input type="checkbox" value="MCUP" name="MCUP">
        Marsh Creek Downstream<input type="checkbox" value="MCDN" name="MCDN">
        Little River Upstream<input type="checkbox" value="LittleRiverUp" name="LittleRiverUp">
        Little River Downstream<input type="checkbox" value="LittleRiverDown" name="LittleRiverDown">
        Hazen Creek Upstream<input type="checkbox" value="HazenCreekUp" name="HazenCreekUp">
        Red Head Marsh<input type="checkbox" value="RedHeadMarsh" name="RedHeadMarsh">
        <input type="submit">
    <div>
        <ul>
            {% for s in site_list %}
                <li>{{ s }}</li>
            {% endfor %}
        </ul>
    </div>
    </form>
    <div id="plotly-plot"></div>
    <script>
        // Load CSV data using D3.js
        d3.csv('/static/FecalColiform.csv').then(function(data) {
            var site_list = {{ site_list | tojson | safe }};  // Get the site list from Flask
    
            var plotData = [];
            site_list.forEach(function(site) {
                var filteredData = data.filter(function(row) {
                    return row.MonitoringLocationID === site;
                });
    
                var thresholdValue = 0;  // Set your threshold value here
    
                var trace = {
                    x: filteredData.map(row => row.ActivityStartDate),
                    y: filteredData.map(row => row.ResultValue),
                    type: 'scatter',
                    mode: 'markers',
                    name: site,  // Use the site name as the trace name
                    marker: {
                        symbol: filteredData.map(row => row.ResultValue > thresholdValue ? 'star' : 'circle'),
                        size: filteredData.map(row => row.ResultValue > thresholdValue ? 15 : 10),
                        line: {
                            width: 2
                        }
                    }
                };
    
                plotData.push(trace);
            });
    
            var layout = {
                title: 'Fecal Coliform Monitoring by Site',
                xaxis: { title: 'ActivityStartDate' },
                yaxis: { title: 'CFU/100mL ' }
            };
    
            Plotly.newPlot('plotly-plot', plotData, layout);
        });
    </script>
    
</body>
{% endblock %}
