{% extends 'base.html' %}

{% block content %}
<body style="background-color: rgba(188, 208, 167, 0.609)"> 
</body>

  <!-- Page title banner over Image 1 -->
  <div class="page-title-banner">
    <h1 class="display-4"><strong>HOME</strong></h1>
  </div>

  <!-- Insert your images here -->
  <div class="text-center">
   
    <p> </p>
    
    <p class="lead text-center"> Welcome to ACAP Saint John's water quality monitoring dashboard. Within this tool you will find 
      resources to access and visualize the rigorous data collected on this watershed since 1991. 
    </p>
      <img src="{{ url_for('static', filename='Photos/marsh.jpg') }}" alt="Image 1" class="img-fluid">
    <p></p>
  </div>

  <p class="lead text-center"></p>
  
  <style>
    .display-4 {
      color: #fff;
      margin: 0;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .page-title-banner {
      background-image: url("{{ url_for('static', filename='Photos/wetland.jpg') }}");
      background-size: cover;
      background-position: center; /* Center horizontally */
      padding: 50px 0; /* Remove horizontal padding, keep only top and bottom padding */
      text-align: center;
      color: #fff;
      width: 100%;
    }

    .lead {
      font-size: 1.25rem;
      color: #333;
    }

    .img-fluid {
      max-width: 100%;
      height: auto;
      margin: 20px 0;
    }
  </style>
{% endblock %}
