{% extends 'base.html' %}


{% block content %}
  <!-- Page title banner over Image 1 -->
  <div class="page-title-banner">
    <h1 class="display-4"><strong>THE PROBLEM ACAP FACES</strong></h1>
  </div>

  <body style="background-color: rgba(157, 178, 135, 0.609)"> 
  </body>

  <!-- Insert your images here -->
  <div class="text-center">
    <div class="lead-container">
      <p class="lead text-center">A community is strongest when connected through a common goal. 
      For the city of St. John New Brunswick, everyday life is centred around the water. From the 
      industry it creates to the recreation it provides, it courses through the heart of the city. 
      This presents a valuable opportunity to bring citizens into ACAP St. John’s monitoring and 
      empower them with the information they need to become stakeholders in their environments. 
      This is why our team has put together an interactive data visualiser accessible to every 
      community member, or anyone else looking to access the invaluable decades of research collected.  
        .</p> 
    </div>
   
    <div class="lead-container">
      <p class="lead text-center"> 
        Our graphing tool will allow users to isolate and combine variables from these extensive datasets 
        and display them in a line graph for easy visualizations of trends. Data can be selected by monitoring 
        site or across all regional data through an interactive watershed map feature. Guideline values from 
        the government of Canada will be displayed for each graph so users can see where results fall contextually. 
      </p>
    </div>
    <img src="{{ url_for('static', filename='Photos/image2.jpg') }}" alt="Image 2" class="img-fluid"style="border: 2px solid #339966>
    <div class="lead-container">
      <p class="lead text-center">We also aim to connect stakeholders from the area and across the country with a 
        live community forum. This feature will allow citizens to report observations and ask questions they’ve had 
        in a direct line to the organization monitoring their region. </p>
    </div>
  </div>
  
  <style>
    .display-4 {
      color: #fff;
      margin: 0;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .page-title-banner {
      background-image: url("{{ url_for('static', filename='Photos/image3.jpg') }}");
      background-size: cover;
      background-position: center; /* Center horizontally */
      padding: 50px 0; /* Remove horizontal padding, keep only top and bottom padding */
      text-align: center;
      color: #fff;
      width: 100%;
    }

    .lead {
      font-size: 1.25rem;
      color: #333;
      margin: 20px 0;
    }

    .img-fluid {
      max-width: 100%;
      height: auto;
      margin: 20px 0;
    }

    .lead-container {
      max-width: 75%; /* Adjust the maximum width as per your preference */
      margin: 0 auto; /* Center the container horizontally */
    }
  </style>
{% endblock %}