{% extends 'base.html' %}


{% block content %}
  <!-- Page title banner over Image 1 -->
  <div class="page-title-banner">
    <h1 class="display-4"><strong>THE PROBLEM ACAP FACES</strong></h1>
  </div>

  <body style="background-color: rgba(188, 208, 167, 0.609)"> 
  </body>

  <!-- Insert your images here -->
  <div class="text-center">
    <div class="lead-container">
      <p class="lead text-center">A community is strongest when connected through a common goal. 
      For the city of Saint John New Brunswick, everyday life is centred around the water. From the 
      industry it creates to the recreation it provides, it courses through the heart of the city. 
      This presents a valuable opportunity to bring citizens into ACAP Saint John’s monitoring and 
      empower them with the information they need to become stakeholders in their environments. 
      This is why our team has put together an interactive data visualiser accessible to every 
      community member, or anyone else looking to access the invaluable decades of research collected.  
        </p> 
    </div>

    <p class="lead text-center"> Monitoring the health of Saint John involves tireless work from a team of volunteers. Dedicating 
      their time to keeping track of water quality conditions across the region. These parameters are very important indicators
    of health and water quality. This helps to inform decisions from aquatic habitat preservation down to the treatment of drinking water. </p>
   
    <div class="lead-container">
      <p class="lead text-center"> </p>
    </div>
    <img src="{{ url_for('static', filename='Photos/sunset.jpg') }}" alt="Image 2" class="img-fluid"style="border: 2px solid #339966>
    <div class="lead-container">
      <p class="lead text-center"></p>
    </div>
  </div>
  
  <style>
    .display-4 {
      color: #fff;
      margin: 0;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .page-title-banner {
      background-image: url("{{ url_for('static', filename='Photos/wetland.jpg') }}");
      background-size: cover;
      background-position: center; /* Center horizontally */
      padding: 50px 0; /* Remove horizontal padding, keep only top and bottom padding */
      text-align: center;
      color: #fff;
      width: 100%;
    }

    .lead {
      font-size: 1.25rem;
      color: #333;
      margin: 20px 0;
    }

    .img-fluid {
      max-width: 100%;
      height: auto;
      margin: 20px 0;
    }

    .lead-container {
      max-width: 75%; /* Adjust the maximum width as per your preference */
      margin: 0 auto; /* Center the container horizontally */
    }
  </style>
{% endblock %}