{% extends 'base.html' %}

{% block content %}
<body style="background-color: rgba(188, 208, 167, 0.609)"> 
</body>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Discussion</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link to your CSS file for styling -->
</head>
<body>
    <section class="thread1-header">
        <h1>Thread1</h1>
    </section>
    
    <section class="thread1-content">
        <div class="container">
           
            <textarea></textarea>
            <button>add post</button>
            <div class="post">
                
            </div>

            <!-- Add more content as needed -->
        </div>
    </section>
</body>
</html>


{% endblock %}